@model ChART.Domain.Entities.Station

@{
    ViewBag.Title = Model.Name;
}
<div class="list-group">
    <div class="list-group-item">
        <h3>@Model.Name</h3>
        <p>
            <span>@Model.Longitude , @Model.Latitude</span>
        </p>
        <p>
            @Model.Route
        </p>
        <p>
           <object type="image/svg+xml" data="@Url.Action("Icon","Stations",new {Model.Id})">Tu navegador no soporta SVG</object>
        </p>
    </div>    
</div>
