@model ChARTServices.Models.StationListViewModel

@{
    ViewBag.Title = "Stations";
}

<h3>Estaciones</h3>
<div class="list-group">
@foreach (var s in Model.Stations)
{
    <div class="list-group-item">
        <h4 class="list-group-item-heading">
            @Html.ActionLink(s.Name, "Details", "Stations", new { s.Id}, null)
        </h4>
        <div class="list-group-item-text">
            <p>Ruta: @s.Route</p>
            <p>Ubicacion</p>
            <p>
                <span>@s.Latitude</span>,<span>@s.Longitude</span>
            </p>
        </div>
    </div>
}
</div>
<div class="pagination">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index",new{page = x}))
</div>